﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="StudyMaster.master.cs" Inherits="JennaStudyGuide.StudyMaster" %>
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<head runat="server">
	<title>Jenna's Study Guide'</title>
    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="styleguide.css" />    
    
</head>
<body>
 <header id="header">
   <h1> Jenna's Study Guide </h1>
        <nav>
            <div id="mainmenu">
            <ul>
                <li><a href="Database.aspx">Database Guide</a></li>
                <li><a href="WebProgramming.aspx">JavaScript Guide</a></li>
                <li><a href="DigitalDesign.aspx">Digial Design Guide</a></li>
            </ul>
            </div>    
        </nav>
 </header>

<form runat="server">
  
                   
                                          
    <div class="container BodyContent"> 
         <div class="row">
        <div class="col md-12 col xm-12">
        <asp:ContentPlaceHolder id="PageTitle" runat="server">
        </asp:ContentPlaceHolder>
        </div>  
        </div>
    <div class="row">
    
                 
    <div class="col-md-8 col xm-12">
        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
                    
    <div class="col-md-4 col xm-12">
        <asp:ContentPlaceHolder ID="links" runat="server">
        </asp:ContentPlaceHolder>
    </div>

 
    </div>               
    </div>
</form>
 <footer>
   <p> All written content is property of Jenna Greenberg, current student of Humber College's 
       Web Development Program.</p>
            
 </footer>       

</body>
</html>
