﻿body{
    padding-top:20px;
    margin-right:15px;
    font-family:'Times New Roman', Times, serif;
}



h1 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 2em;
    display: inline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    float: right;
    display: inline;
    padding-right: 20px;
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

#mainmenu li {
    display: inline;
    padding-right: 1em;

}

li a {
    color:green;
    font-family:'Times New Roman', Times, serif;
}

code, pre, .codeSnippet {
    background-color:#000000;
    color:white;
}



.BodyContent {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
h2{
    padding-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
}

h4{
    font-size: 1em;
}

footer{
    margin-left:10px;
    font-size: 0.5em;
}