﻿body {
    padding-top: 0;
    margin-right: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#header {
    
    background-color: #3B5249;
    padding-bottom: 20px;
    padding-top:20px;

}


h1 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 2em;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color:#A4B494;
}

nav {
    float: right;
    display: inline;
    padding-right: 20px;
    padding-top: 10px;

    
}

#mainmenu li {
    display: inline;
    padding-right: 1em;
}

li a {
    color: #A4B494;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover {
    color: #519872;
}

code, pre, .codeSnippet {
    background-color: #000000;
    color: white;
    
}

.BodyContent {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

h2 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.5em;
    color: #519872;
    
}

h3 {
    font-size: 1.5em;
    margin-top: 0;
    padding-top: 0;

}

h4 {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type:none;
    padding:0;
}

footer {
    margin-top:10px;
    margin-left: 10px;
    font-size: 0.5em;
    text-align: center;
}
